* {
   box-sizing: border-box;
    margin: 0 auto;
}   

.wrapper {
    width: 1400px;
    font-size: 0px;
}

/* header*************************************
*********************************************/

header {
    padding-bottom: 30px;
    padding-top: 107px;    
}

.style-header{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #212121;
}

.line {
    width: 64px;
    height: 2px;
    background: #FF8B38;
    border: none;
    
}

.text {
    padding-top: 30px;
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
/*main****************************************
***********************************************/
/* sector_1******************** */
.style-main{    
    /*background-color: yellow;*/
    width: 1158px;
    margin: 0 auto;
    padding: 80px 0 106px;
}

.text-icon{
    font-size: 20px; 
    color: #333333; 
    font-weight: 700;
}


.blok{
    display: inline-block;
    width: 350px;
    padding-left: 16px;
    padding-right: 16px;
}

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}

.lamp {
    background: url(../img/lamp.png) no-repeat center center;
}

.keyboard {
    background: url(../img/keyboard.png) no-repeat center center;
}

.lightning {
    background: url(../img/square.png) no-repeat center center;
}
/* sector_2******************************
**************************************************/

.city{
    padding-top: 76px;
    padding-bottom: 63px;
    background: url(../img/city.png) no-repeat center center;
}

.line-city{    
    width: 74px;
    height: 2px;
    margin-top: 26px;
    margin-bottom: 23px;
    background: #ffffff;
}

.text-city{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    text-align: center;
}

.download {
    display: block;
    margin: 33px auto 0px;   
    padding: 15px 0 14px;
    width: 135px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #ffffff;
    background-color: transparent;
}

/*footer******************************
**************************************/
footer{
    background-color: #000000 ;
    padding-top: 39px;
    padding-bottom: 15px;
}

.footer-button {
    width: 314px;
    height: 23px;
    background: url(../img/button.jpg) no-repeat center center;

}

.footer-text{
    padding-top: 15px;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 
    color: #FFFFFF; 
    text-align: center; 
}

.white{
    color: #FFFFFF;
}